/DecoratorPattern/DecoratorPattern/bin/Debug/*.pdb
/DecoratorPattern/DecoratorPattern/bin/Debug/*.exe
/DecoratorPattern/DecoratorPattern/bin/Debug/*.config
/DecoratorPattern/DecoratorPattern/bin/Debug/*.manifest
/DecoratorPattern/DecoratorPattern/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DecoratorPattern/DecoratorPattern/obj/Debug/DecoratorPattern.csproj.CoreCompileInputs.cache
/DecoratorPattern/DecoratorPattern/obj/Debug/DecoratorPattern.csproj.FileListAbsolute.txt
/DecoratorPattern/DecoratorPattern/obj/Debug/DecoratorPattern.csproj.GenerateResource.Cache
/DecoratorPattern/DecoratorPattern/obj/Debug/DecoratorPattern.csprojResolveAssemblyReference.cache
/DecoratorPattern/DecoratorPattern/obj/Debug/DecoratorPattern.exe
/DecoratorPattern/DecoratorPattern/obj/Debug/DecoratorPattern.pdb
/DecoratorPattern/DecoratorPattern/obj/Debug/DecoratorPattern_MarkupCompile.cache
/DecoratorPattern/DecoratorPattern/obj/Debug/DecoratorPattern_MarkupCompile.i.cache
/DecoratorPattern/DecoratorPattern/obj/Debug/DecoratorPattern_MarkupCompile.lref
/DecoratorPattern/.vs/DecoratorPattern/v15/Server/sqlite3/storage.ide-shm
/DecoratorPattern/.vs/DecoratorPattern/v15/Server/sqlite3/storage.ide-wal
/DecoratorPattern/DecoratorPattern/obj/Debug/DecoratorPattern_MarkupCompile.i.lref
/DecoratorPattern/.vs
/StatePattern/packages
